/* COMMON CSS AREA */
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    vertical-align: middle;
}

:root {
    --Color01: #2d3950;
    --Color02: #15a4fa;
    --Color03: #48baff;
    --Color04: #5fc3ff;
    --Color05: #24a3f1;
    --Color06: #039dfd;
    --FontLato: 'Lato', sans-serif;
}
/* COMMON CSS AREA END */

/* ========================= */

/* MENU AREA  */
.navbar-nav {
    text-transform: uppercase;
    font-family: var(--FontLato);
    font-weight: 500;
    font-size: 24px;
}
.nav-link:hover {
    color: var(--Color01);
    transition: 0.5s;
}
/* MENU AREA END */

/* =========================================== */


/* HERO AREA */
.hero_area {
    padding: 110px 0;
    background: url(../img/Hero_img.webp) no-repeat center;
    background-size: cover;
}
.hero_con h1 {
    text-transform: uppercase;
    font-family: var(--FontLato);
    font-weight: 600;
    font-size: 130px;
    /* margin-bottom: 200px; */
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.hero_con h5 {
    font-family: var(--FontLato);
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}
.div {
    width: 550px;
    height: 2px;
    background: var(--Color02);
    margin-right: 250px;
    margin-left: 290px;
    margin-top: 5px;
}
.hero_btn {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
}
.hero_btn a {
    background: var(--Color02);
    border: 2px solid transparent;
    border-radius: 0;
    font-family: var(--FontLato);
    background: transparent;
    border: 2px solid var(--Color02);
}
/* .hero_btn a:hover {
    background: transparent;
    border: 2px solid var(--Color02);
} */
.hero-icon {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    color: #ffffff;
}
/* HERO AREA END */

/* =========================================== */


/* DESIGN AREA */
.design_area {
    background: #f6f9f9;
}
.design_con {
    padding: 64px 0;
    text-align: center;
}
.design_con h2 {
    font-family: var(--FontLato);
    font-weight: 400;
    font-size: 42px;
    color: var(--Color01);
    
}
.design_con p {
    font-family: var(--FontLato);
    font-weight: 300;
    font-size: 21px;
    color: #999999;
}
/* DESIGN AREA END */

/* =========================================== */


/* SERVICE AREA */
.service_area {
    padding: 120px 0 28px;
}
.service_con {
    padding: 50px 20px 20px;
}
.service_icon {
    height: 100px;
    width: 100px;
    background: linear-gradient(var(--Color03), var(--Color04));
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
}
.service_con h3 {
    font-family: var(--FontLato);
    font-weight: 400;
    font-size: 22px;
    color: var(--Color01);
}
.service_con p {
    font-size: 15px;
    color: #999999;
}
/* SERVICE AREA END */

/* =========================================== */


/* PORTFOLIO AREA */
.portfolio_area {
    background: #f6f9f9;
}
.portfolio_headline h2 {
    font-family: var(--FontLato);
    font-weight: 400;
    font-size: 41px;
    color: var(--Color01);
    text-align: center;
    padding-top: 28px;
}
.portfolio_headline h6 {
    font-size: 15px;
    color: #909090;
    text-align: center;
    padding-bottom: 32px;
}
.portfolio_img {
    position: relative;
}
.portfolio_img:hover .portfolio_overlay {
    opacity: 1;
    visibility: visible;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 70%;
}
.portfolio_overlay {
    height: 0%;
    width: 0%;
    background: var(--Color06);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    transition: 0.7s;
}
.portfolio_overlay a {
    height: 40px;
    width: 40px;
    background: transparent;
    border-radius: 0;
    font-size: 15px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio_overlay a:hover {
    background: var(--Color03);
}
.box_01 a,
.box_02 a {
    border: 2px solid white;
    border-radius: 0;
}
/* PORTFOLIO AREA END */

/* =========================================== */


/* SUB-FOOTER AREA */
.sub_footer_area {
    padding: 90px 0;
    background: url(../img/Footer_img.jpg) no-repeat center;
    background-size: cover;
    margin-top: 120px;
}
.sub_footer_con h3 {
    font-family: var(--FontLato);
    font-weight: 400;
    font-size: 41px;
    color: #ffffff;
    text-align: center;
}
.sub_footer_con h6 {
    font-size: 15px;
    color: #999999;
    text-align: center;
    padding: 10px 0 28px;
}
.form {
    border: 2px solid transparent;
    border-radius: 0;
    background: transparent;
}
.sub_footer_btn {
    text-align: end;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
}
.sub_footer_btn a {
    /* background: var(--Color02); */
    border: 2px solid transparent;
    border-radius: 0;
    font-family: var(--FontLato);
    background: transparent;
    border: 2px solid var(--Color02);
    padding: 3px 25px;
}
.check_box {
    padding: 0;
}
/* SUB-FOOTER AREA END */

/* =========================================== */


/* FOOTER AREA */
.footer_area {
    padding: 22px 0;
}
.footer_con h6 {
    font-family: var(--FontLato);
    font-weight: 400;
    font-size: 15px;
    color: #999999;
}
/* .footer_icon {
    align-items: center;
    background: rebeccapurple;
    color: #ffffff;
} */
/* FOOTER AREA END */

/* =========================================== */


